body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e130c, #9a8478);
    font-family: 'Georgia', serif;
}

.book-cover {
    width: 450px;
    height: 650px;
    margin: 30px auto;
    background: #111;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.book-title {
    font-size: 34px;
    color: #f5c542;
    margin-bottom: 5px;
}

.book-subtitle {
    font-size: 16px;
    font-style: italic;
    color: #ccc;
    margin-bottom: 25px;
}

.image-box img {
    width: 220px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #f5c542;
    margin-bottom: 25px;
}

.description {
    font-size: 15px;
    line-height: 1.6;
    color: #eaeaea;
    margin-bottom: 40px;
}

.author {
    font-size: 14px;
    color: #aaa;
}

.author span {
    color: #f5c542;
    font-weight: bold;
}
